.guides__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.guide {
    background-color: var(--color-gray-800);
    padding: 2rem;
    border-radius: 1rem;
}

.guide__img {
    overflow: hidden;
    border-radius: 1rem;
}

.guide h3 {
    margin-top: 2rem;
}

.guide p {
    margin-top: 1rem;
    color: var(--color-gray-100);
}

.trainer__socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

}