.main__header {
    width: 100vw;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
    background-image: url('../../images/KYLESKU\ .JPG');
    background-size: cover;
    background-position: center;
}

.main__header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

}

.main__header-left{
    margin-top: -3rem;
}

.main__header-left h4 {
    margin-bottom: 4rem;
    color: var(--color-secondary);
    font-weight: 400;
}

.main__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main__header-right {
    display: grid;
    place-items: center;
    position: relative;
}

/* .main__header-circle {
    width: 37rem;
    height: 37rem;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    filter: blur(50px);
    opacity: 75%;
} */

.main__header-image{
    position: relative;
}
  
/* .main__header-right:hover .main__header-circle {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
} */

/* .main__header-circle:hover {
    display: none;
  }
  
  .main__header:hover .main__header-circle {
    opacity: 0;
    transition: opacity 5s ease;
  } */